.add-todo-form {
    display: grid;
    width: 50%;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin: 0 auto;
    position: relative;
}

.submit-button {
    grid-column-start: 2;
}

.validation-message {
    position: absolute;
    visibility: hidden;
    color: #ff0000;
    font-size: 10px;
}

.visible {
    visibility: visible;
}
